@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --toastify-color-success: #4f7960;
}

body {
  background: rgb(41, 61, 85);
  background: linear-gradient(
    0deg,
    rgba(41, 61, 85, 1) 0%,
    rgba(164, 200, 229, 1) 30%,
    rgba(255, 255, 255, 1) 40%,
    rgba(164, 200, 229, 1) 50%,
    rgba(77, 109, 149, 1) 100%
  );
}

/* Hide scrollbar for Chrome, Safari and Opera */
.products-scrollbar::-webkit-scrollbar,
.sidebar-inner::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.products-scrollbar,
.sidebar-inner {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.point {
  position: absolute;
  top: 50%;
  left: 50%;
  color: #4f7960;
  pointer-events: none;
}

.point.visible .label {
  transform: scale(1, 1);
}

@media (max-width: 768px) {
  .point-5 {
    display: none;
  }
}

.animate-sound {
  animation: animSound 3.5s infinite linear;
}

@keyframes animSound {
  0% {
    transform: translateZ(0);
  }
  100% {
    transform: translate3d(calc(-100% + 20px), 0, 0);
  }
}

.point .label {
  position: absolute;
  width: 10px;
  height: 10px;
  top: -5px;
  left: -5px;
  background: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: help;
  transform: scale(0, 0);
  transition: transform 0.3s;
  transition-delay: 0.5s;
}
/* .point:nth-child(1) .label {
  background: rgb(60, 255, 46);
} */

.point .ripple {
  animation: pulse 2s infinite;
}

/* .point:nth-child(1) .ripple {
  animation: pulse-primary 2s infinite;
} */

@keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 1);
  }
  100% {
    -webkit-box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
  }
}

@keyframes pulse-primary {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgb(60, 255, 46);
  }
  100% {
    -webkit-box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
  }
}

#leva__root {
  display: none !important;
}
