@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: green;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.products-scrollbar::-webkit-scrollbar,
.sidebar-inner::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.products-scrollbar,
.sidebar-inner {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
